body {
    font-family: arial, sans-serif;
    margin: 0;
    line-height: 1.6;
}
header {
    background-color: #2c2c2c;
    color: white;
    padding: 20px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    gap: 20px;
}   
nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
nav a:hover{
    text-decoration: underline;
}
main {
    padding: 20px;
    max-width: auto;
    margin: auto;
}
main {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
article {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 6px;
}
a{
    display: inline-block;
    margin-top: 100px;
    padding: 8px 14px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
a:hover {
    background-color: #3e8e41;
}
aside {
    background-color: #f5f5f5;
    padding: 20px;
    margin: 20px;
    max-width: 800px;   
    border-left: 4px solid #4caf50;
}
footer {
    text-align: center;
    padding: 15px;
    background-color: #222;
    color: white;
}
.boton {
    display: inline-block;
    margin-top: 20px;
    padding: 8px 14px;
    background-color: #4caf50;
    color: white;
    text-decoration: none;
    border-radius: 4px;
}
.boton:hover {
    background-color: #3e8e41;
}   
form {
    max-width: 650px;
    margin: 40px auto;
    padding: 25px;
    border: 1px solid #ddd;
    border-radius: 8px;
    background-color: #ffffff;
}
input[type="text"], input[type="email"], textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
}   